.lista {
    list-style: none;
    margin: 0;
    padding: 20px;
    background-color: inherit;
}

.item {
    margin: 1rem 0;
    background: #4e3106;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.1rem;
    overflow: hidden;
}